

<div class=header >
  <h1>Naruto!!!!</h1>
  <img src="nar.jpg" alt="Naruto!!!">
</div>


<!-- 2 text boxes-->
<div class=content>
  Enter first name: <input [(ngModel)]="firstName" id="firstName"><br>
  Enter last name: <input [(ngModel)]="lastName" id="firstName"><br>
  Select a Hogwarts house: 
    <select [(ngModel)]="hogwartsHouse">
      <option value="G">Gryffindor</option>
      <option value="R">Ravenclaw</option>
      <option value="S">Slytherin</option>
      <option value="H">Hufflepuff</option>
      <option value="W">Idk man</option>
    </select> <br>
  <button (click)="ninjafy(firstName)">Ninjafy!!</button>
</div>

<div class=results *ngIf="ninjafyTime">
  Ninja name is {{ninjaName}}
</div>