

<div class=header >
  <h1>Naruto!!!!</h1>
  <img src="nar.jpg" alt="Naruto!!!">
</div>


<!-- 2 text boxes-->
<div class=form>
      Enter first name: <input type="text" name="fname"><br>
      Enter last name: <input type="text" name="lname"><br>
      Select a Hogwarts house: 
      <select>
        <option value="G">Gryffindor</option>
        <option value="saab">Ravenclaw</option>
        <option value="mercedes">Slytherin</option>
        <option value="audi">Hufflepuff</option>
        <option value="idk">Idk man</option>
      </select> <br>
      <button>Ninjafy!!</button>
  

</div>

<!-- List of Hogwarts houses-->

<!-- Button to submit -->